@(assets: AssetsFinder)

<!DOCTYPE html>
<html>

    <head>
        <title>Off Topic | Kafka Topic Viewer</title>

        <link rel="shortcut icon" href="@assets.path("images/favicon.png")">
        <link rel="stylesheet" href="@assets.path("stylesheets/main.css")">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

        <script src="@assets.path("javascripts/babel.min.js")"></script> @*in-browser for dev*@

        <script src="@assets.path("lib/react/react.js")"></script> @*TODO use min*@
        <script src="@assets.path("lib/react-dom/dist/react-dom.js")"></script>
        <script src="@assets.path("lib/fetch/fetch.js")"></script>
        <script src="@assets.path("lib/react-infinite/dist/react-infinite.js")"></script>
    </head>

    <body>
        <div id="main"></div>
    </body>

    <script src="@assets.path("javascripts/components.js")" type="text/jsx"></script>

</html>